FORMAT: 1A
HOST: https://letsintegrate.de/api

# Let's integrate


# Group Appointment

## POST /v1/appointments(.{format})

+ Parameters

    + data (optional, string, `{"type"=>"appointments", "attributes"=>{"email"=>"asa@lowehermann.biz"}, "relationships"=>{"offer"=>{"data"=>{"type"=>"offers", "id"=>"2c3fe19a-146b-4920-952f-ee055410632b"}}, "location"=>{"data"=>{"type"=>"locations", "id"=>"ce574f6f-9114-4a51-9ecb-46576870277d"}}, "offer-time"=>{"data"=>{"type"=>"offer-times", "id"=>"1714943f-b467-450b-8ce2-d65fb50e7081"}}}}`) ...
    + appointment (optional, string, `{}`) ...

+ Request

    + Headers


    + Body

            {"data":{"type":"appointments","attributes":{"email":"asa@lowehermann.biz"},"relationships":{"offer":{"data":{"type":"offers","id":"2c3fe19a-146b-4920-952f-ee055410632b"}},"location":{"data":{"type":"locations","id":"ce574f6f-9114-4a51-9ecb-46576870277d"}},"offer-time":{"data":{"type":"offer-times","id":"1714943f-b467-450b-8ce2-d65fb50e7081"}}}}}

+ Response 200

    works

    + Headers

            X-Frame-Options: SAMEORIGIN
            X-XSS-Protection: 1; mode=block
            X-Content-Type-Options: nosniff
            Content-Type: application/vnd.api+json; charset=utf-8
            ETag: W/"a2965121032382911e4b98529b299b49"
            Cache-Control: max-age=0, private, must-revalidate
            X-Request-Id: af8e2066-7da3-4050-b2cb-d6bf3e1bd9da
            X-Runtime: 0.983983
            Vary: Origin
            Content-Length: 477

    + Body

            {"data":{"id":"3d285404-4e49-46b0-b454-5a1382685b75","type":"appointments","attributes":{"email":"","confirmed":false,"canceled":false},"relationships":{"offer":{"links":{"related":"http://www.example.com/v1/offers/2c3fe19a-146b-4920-952f-ee055410632b"}},"offer-time":{"links":{"related":"http://www.example.com/v1/offer-times/1714943f-b467-450b-8ce2-d65fb50e7081"}},"location":{"links":{"related":"http://www.example.com/v1/locations/ce574f6f-9114-4a51-9ecb-46576870277d"}}}}}

+ Response 422

    is unprocessable

    + Headers

            X-Frame-Options: SAMEORIGIN
            X-XSS-Protection: 1; mode=block
            X-Content-Type-Options: nosniff
            Content-Type: application/vnd.api+json; charset=utf-8
            Cache-Control: no-cache
            X-Request-Id: e6e7cf03-951a-4ec7-862a-5efc81a25628
            X-Runtime: 0.026424
            Vary: Origin
            Content-Length: 457

    + Body

            {"errors":[{"source":{"pointer":"/data/attributes/location"},"detail":{"message":"blank","meta":{}}},{"source":{"pointer":"/data/attributes/offer-time"},"detail":{"message":"blank","meta":{}}},{"source":{"pointer":"/data/attributes/offer"},"detail":{"message":"blank","meta":{}}},{"source":{"pointer":"/data/attributes/email"},"detail":{"message":"blank","meta":{}}},{"source":{"pointer":"/data/attributes/email"},"detail":{"message":"invalid","meta":{}}}]}

## PATCH /v1/appointments/{id}/confirm(.{format})

+ Parameters

    + token (optional, string, `n5pnQTqt`) ...
    + id (required, string, `21f397e4-2085-4806-b197-91baccdc4335`) ...
    + appointment (optional, string, `{}`) ...

+ Request

    + Headers


    + Body

            {}

+ Response 200

    works

    + Headers

            X-Frame-Options: SAMEORIGIN
            X-XSS-Protection: 1; mode=block
            X-Content-Type-Options: nosniff
            Content-Type: application/vnd.api+json; charset=utf-8
            ETag: W/"3579843e0b3fb8da22dd3a831b3e8ea4"
            Cache-Control: max-age=0, private, must-revalidate
            X-Request-Id: 2bde7fe2-825b-4581-8902-4d3bd3cabe1c
            X-Runtime: 0.153043
            Vary: Origin
            Content-Length: 476

    + Body

            {"data":{"id":"21f397e4-2085-4806-b197-91baccdc4335","type":"appointments","attributes":{"email":"","confirmed":true,"canceled":false},"relationships":{"offer":{"links":{"related":"http://www.example.com/v1/offers/df108abf-d594-4e21-9f0a-3fe4e6425a90"}},"offer-time":{"links":{"related":"http://www.example.com/v1/offer-times/e5fd0d3b-527b-44d1-8e53-fabd619fc240"}},"location":{"links":{"related":"http://www.example.com/v1/locations/b9b1f49b-5b0c-4325-b7a7-404242141139"}}}}}

+ Response 422

    fails with invalid token

    + Headers

            X-Frame-Options: SAMEORIGIN
            X-XSS-Protection: 1; mode=block
            X-Content-Type-Options: nosniff
            Content-Type: application/vnd.api+json; charset=utf-8
            Cache-Control: no-cache
            X-Request-Id: 0e6de299-1b6c-47be-b977-47a5061d777d
            X-Runtime: 0.022514
            Vary: Origin
            Content-Length: 114

    + Body

            {"errors":[{"source":{"pointer":"/data/attributes/confirmation-token"},"detail":{"message":"invalid","meta":{}}}]}

# Group Location

## GET /v1/locations(.{format})

+ Parameters

    + {} (optional, string, ``) ...
    + location (optional, string, `{}`) ...
    + ids (optional, string, `7312429c-9428-453f-880b-464b77f663fa`) ...
    + filter (optional, string, `{"offer_locations_offer_id_eq"=>"68ddf649-89a1-48d0-a1a4-0ea97ff578c2"}`) ...

+ Request

    + Headers


+ Response 200

    works

    + Headers

            X-Frame-Options: SAMEORIGIN
            X-XSS-Protection: 1; mode=block
            X-Content-Type-Options: nosniff
            Content-Type: application/vnd.api+json; charset=utf-8
            ETag: W/"af0b2a70dc2a2448bfb9ae89e114dae0"
            Cache-Control: max-age=0, private, must-revalidate
            X-Request-Id: c495f28e-c7f7-455a-afd6-ca1531fca039
            X-Runtime: 0.060923
            Vary: Origin
            Content-Length: 387

    + Body

            {"data":[{"id":"2c01319a-5cf5-4f90-a10a-f8f1a74b6ca4","type":"locations","attributes":{"name":"Location 06","images":["http://lorempixel.com/800/600/city/1/","http://lorempixel.com/800/600/city/3/"],"slug":"location-06"},"relationships":{"offers":{"links":{"related":"http://www.example.com/v1/offers?filter%5Boffer_locations_location_id_eq%5D=2c01319a-5cf5-4f90-a10a-f8f1a74b6ca4"}}}}]}

## GET /v1/locations/{id}(.{format})

+ Parameters

    + {} (optional, string, ``) ...
    + id (required, string, `74b7ee6c-5599-4b98-a128-a1163b05fa02`) ...
    + location (optional, string, `{}`) ...

+ Request

    + Headers


+ Response 200

    works

    + Headers

            X-Frame-Options: SAMEORIGIN
            X-XSS-Protection: 1; mode=block
            X-Content-Type-Options: nosniff
            Content-Type: application/vnd.api+json; charset=utf-8
            ETag: W/"ed5603b34ea5459c2841df011e5a0407"
            Cache-Control: max-age=0, private, must-revalidate
            X-Request-Id: dba8bd1f-0d82-4dc7-9aa5-17c6a919abe1
            X-Runtime: 0.012156
            Vary: Origin
            Content-Length: 385

    + Body

            {"data":{"id":"74b7ee6c-5599-4b98-a128-a1163b05fa02","type":"locations","attributes":{"name":"Location 10","images":["http://lorempixel.com/800/600/city/1/","http://lorempixel.com/800/600/city/3/"],"slug":"location-10"},"relationships":{"offers":{"links":{"related":"http://www.example.com/v1/offers?filter%5Boffer_locations_location_id_eq%5D=74b7ee6c-5599-4b98-a128-a1163b05fa02"}}}}}

# Group Offer item

## GET /v1/offer_items(.{format})

+ Parameters

    + {} (optional, string, ``) ...
    + offer_item (optional, string, `{}`) ...
    + filter (optional, string, `{"location_id_eq"=>"ea6bd3b0-b182-4014-93be-e388492b49e8"}`) ...

+ Request

    + Headers


+ Response 200

    works

    + Headers

            X-Frame-Options: SAMEORIGIN
            X-XSS-Protection: 1; mode=block
            X-Content-Type-Options: nosniff
            Content-Type: application/vnd.api+json; charset=utf-8
            ETag: W/"abfd08f5c3b945603ee97091952f1d93"
            Cache-Control: max-age=0, private, must-revalidate
            X-Request-Id: 7a9679ef-da43-4068-b775-5c8d29c62599
            X-Runtime: 0.254427
            Vary: Origin
            Content-Length: 487

    + Body

            {"data":[{"id":"6dcb8324-8912-43a7-8a24-3a495ee17c78","type":"offer-items","attributes":{"name":"Location 11","time":"2016-04-19T20:48:59.628Z"},"relationships":{"offer":{"links":{"related":"http://www.example.com/v1/offers/76da71eb-6b78-4166-b338-4490ed27bfcc"}},"offer-time":{"links":{"related":"http://www.example.com/v1/offer-times/4c12c91c-3a79-4812-a88a-fc5e9f280003"}},"location":{"links":{"related":"http://www.example.com/v1/locations/7163a655-8183-49d6-8f1b-29375f13e9d5"}}}}]}

# Group OfferTime

## GET /v1/offer-times(.{format})

+ Parameters

    + {} (optional, string, ``) ...
    + offer_time (optional, string, `{}`) ...
    + ids (optional, string, `e70de260-a44d-4ca0-af98-a0d7c5741e08`) ...
    + filter (optional, string, `{"offer_id_eq"=>"c4688422-dc00-4e9c-9232-a995df21bfdf"}`) ...

+ Request

    + Headers


+ Response 200

    works

    + Headers

            X-Frame-Options: SAMEORIGIN
            X-XSS-Protection: 1; mode=block
            X-Content-Type-Options: nosniff
            Content-Type: application/vnd.api+json; charset=utf-8
            ETag: W/"e0234245cb00aa260ccfa99a9a0b235e"
            Cache-Control: max-age=0, private, must-revalidate
            X-Request-Id: 948e0fb9-5fff-45fa-9924-58aebbc6db4b
            X-Runtime: 0.055870
            Vary: Origin
            Content-Length: 11

    + Body

            {"data":[]}

## GET /v1/offer-times/{id}(.{format})

+ Parameters

    + {} (optional, string, ``) ...
    + id (required, string, `b66a41e0-2e88-4c47-a8f9-f114236797ae`) ...
    + offer_time (optional, string, `{}`) ...

+ Request

    + Headers


+ Response 200

    works

    + Headers

            X-Frame-Options: SAMEORIGIN
            X-XSS-Protection: 1; mode=block
            X-Content-Type-Options: nosniff
            Content-Type: application/vnd.api+json; charset=utf-8
            ETag: W/"ca2ddde33bf8743d495df3e76aef8834"
            Cache-Control: max-age=0, private, must-revalidate
            X-Request-Id: 8a6eb4ea-6738-44d7-ae62-e5f21ad512e4
            X-Runtime: 0.097816
            Vary: Origin
            Content-Length: 244

    + Body

            {"data":{"id":"b66a41e0-2e88-4c47-a8f9-f114236797ae","type":"offer-times","attributes":{"time":"2015-03-17T00:00:00.000Z"},"relationships":{"offer":{"links":{"related":"http://www.example.com/v1/offers/77649004-1e69-4b1f-a97c-506e7fff7b66"}}}}}

# Group Offer

## GET /v1/offers(.{format})

+ Parameters

    + {} (optional, string, ``) ...
    + offer (optional, string, `{}`) ...
    + ids (optional, string, `5e83f05b-32ac-4adc-b778-67c0394b646a`) ...
    + filter (optional, string, `{"offer_locations_location_id_eq"=>"cc8413b2-44a6-4dcd-b04f-8170f3e6b316"}`) ...

+ Request

    + Headers


+ Response 200

    works

    + Headers

            X-Frame-Options: SAMEORIGIN
            X-XSS-Protection: 1; mode=block
            X-Content-Type-Options: nosniff
            Content-Type: application/vnd.api+json; charset=utf-8
            ETag: W/"7b5b675d76d10948c660bcf3ae7607e3"
            Cache-Control: max-age=0, private, must-revalidate
            X-Request-Id: 2cbf71a4-d80a-4442-a4e9-8f66468ca396
            X-Runtime: 0.167088
            Vary: Origin
            Content-Length: 419

    + Body

            {"data":[{"id":"694622d8-06da-4ea8-999a-0ba11006716a","type":"offers","attributes":{"email":"","confirmed":true},"relationships":{"locations":{"links":{"related":"http://www.example.com/v1/locations?filter%5Boffer_locations_offer_id_eq%5D=694622d8-06da-4ea8-999a-0ba11006716a"}},"offer-times":{"links":{"related":"http://www.example.com/v1/offer-times?filter%5Boffer_id_eq%5D=694622d8-06da-4ea8-999a-0ba11006716a"}}}}]}

## POST /v1/offers(.{format})

+ Parameters

    + data (optional, string, `{"type"=>"offers", "attributes"=>{"email"=>"danika@ebert.com"}, "relationships"=>{"locations"=>{"data"=>[{"type"=>"locations", "id"=>"d1c984ef-73eb-401c-9a53-e503fb5c8002"}]}, "offer-times"=>{"data"=>[{"type"=>"offer-times", "attributes"=>{"time"=>"2012-12-27 00:00:00 +0000"}}]}}}`) ...
    + offer (optional, string, `{}`) ...

+ Request

    + Headers


    + Body

            {"data":{"type":"offers","attributes":{"email":"danika@ebert.com"},"relationships":{"locations":{"data":[{"type":"locations","id":"d1c984ef-73eb-401c-9a53-e503fb5c8002"}]},"offer-times":{"data":[{"type":"offer-times","attributes":{"time":"2012-12-27 00:00:00 +0000"}}]}}}}

+ Response 200

    works

    + Headers

            X-Frame-Options: SAMEORIGIN
            X-XSS-Protection: 1; mode=block
            X-Content-Type-Options: nosniff
            Content-Type: application/vnd.api+json; charset=utf-8
            ETag: W/"a72e623e0cd3457d2716d1e5247734ae"
            Cache-Control: max-age=0, private, must-revalidate
            X-Request-Id: dddfdcad-32ac-46e0-8c7a-5449efaeb05f
            X-Runtime: 0.228838
            Vary: Origin
            Content-Length: 418

    + Body

            {"data":{"id":"74536517-c2e3-491f-ab37-0a3cfaeae6c4","type":"offers","attributes":{"email":"","confirmed":false},"relationships":{"locations":{"links":{"related":"http://www.example.com/v1/locations?filter%5Boffer_locations_offer_id_eq%5D=74536517-c2e3-491f-ab37-0a3cfaeae6c4"}},"offer-times":{"links":{"related":"http://www.example.com/v1/offer-times?filter%5Boffer_id_eq%5D=74536517-c2e3-491f-ab37-0a3cfaeae6c4"}}}}}

+ Response 422

    is unprocessable

    + Headers

            X-Frame-Options: SAMEORIGIN
            X-XSS-Protection: 1; mode=block
            X-Content-Type-Options: nosniff
            Content-Type: application/vnd.api+json; charset=utf-8
            Cache-Control: no-cache
            X-Request-Id: 415aa8e3-f75f-4eb8-8907-3316cf8401fc
            X-Runtime: 0.036391
            Vary: Origin
            Content-Length: 188

    + Body

            {"errors":[{"source":{"pointer":"/data/attributes/email"},"detail":{"message":"blank","meta":{}}},{"source":{"pointer":"/data/attributes/email"},"detail":{"message":"invalid","meta":{}}}]}

## GET /v1/offers/{id}(.{format})

+ Parameters

    + {} (optional, string, ``) ...
    + id (required, string, `f22ba3be-ff94-43ee-b7bb-ccd8e881c586`) ...
    + offer (optional, string, `{}`) ...

+ Request

    + Headers


+ Response 200

    works

    + Headers

            X-Frame-Options: SAMEORIGIN
            X-XSS-Protection: 1; mode=block
            X-Content-Type-Options: nosniff
            Content-Type: application/vnd.api+json; charset=utf-8
            ETag: W/"0a62b392402ed8332dc86c220c3549b4"
            Cache-Control: max-age=0, private, must-revalidate
            X-Request-Id: 4855627d-db72-424b-8cc7-6a73e25e3653
            X-Runtime: 0.021909
            Vary: Origin
            Content-Length: 417

    + Body

            {"data":{"id":"f22ba3be-ff94-43ee-b7bb-ccd8e881c586","type":"offers","attributes":{"email":"","confirmed":true},"relationships":{"locations":{"links":{"related":"http://www.example.com/v1/locations?filter%5Boffer_locations_offer_id_eq%5D=f22ba3be-ff94-43ee-b7bb-ccd8e881c586"}},"offer-times":{"links":{"related":"http://www.example.com/v1/offer-times?filter%5Boffer_id_eq%5D=f22ba3be-ff94-43ee-b7bb-ccd8e881c586"}}}}}

## PATCH /v1/offers/{id}/confirm(.{format})

+ Parameters

    + token (optional, string, `bnipcd59bmJ8qG7G`) ...
    + id (required, string, `198148b9-9a44-4b36-8617-87395742b3a8`) ...
    + offer (optional, string, `{}`) ...

+ Request

    + Headers


    + Body

            {}

+ Response 200

    works

    + Headers

            X-Frame-Options: SAMEORIGIN
            X-XSS-Protection: 1; mode=block
            X-Content-Type-Options: nosniff
            Content-Type: application/vnd.api+json; charset=utf-8
            ETag: W/"c99b4fe056e190cfb0b45da192f91fcc"
            Cache-Control: max-age=0, private, must-revalidate
            X-Request-Id: e5db6534-925f-4972-9b01-d145e320fa5d
            X-Runtime: 0.036327
            Vary: Origin
            Content-Length: 417

    + Body

            {"data":{"id":"198148b9-9a44-4b36-8617-87395742b3a8","type":"offers","attributes":{"email":"","confirmed":true},"relationships":{"locations":{"links":{"related":"http://www.example.com/v1/locations?filter%5Boffer_locations_offer_id_eq%5D=198148b9-9a44-4b36-8617-87395742b3a8"}},"offer-times":{"links":{"related":"http://www.example.com/v1/offer-times?filter%5Boffer_id_eq%5D=198148b9-9a44-4b36-8617-87395742b3a8"}}}}}

+ Response 422

    fails with invalid token

    + Headers

            X-Frame-Options: SAMEORIGIN
            X-XSS-Protection: 1; mode=block
            X-Content-Type-Options: nosniff
            Content-Type: application/vnd.api+json; charset=utf-8
            Cache-Control: no-cache
            X-Request-Id: 3b3f2a70-c3da-4840-884e-deb2bc1c2aaa
            X-Runtime: 0.010190
            Vary: Origin
            Content-Length: 114

    + Body

            {"errors":[{"source":{"pointer":"/data/attributes/confirmation-token"},"detail":{"message":"invalid","meta":{}}}]}



