<p>Hello!</p>

<p>Thank you very much for signing up for a Let’s integrate!meeting. We've got a match for you:</p>

<p>
  Meeting point: <%= appointment.location.name %><br />
  Date: <%= appointment.offer_time.time.strftime('%B %e, %Y') %><br />
  Time: <%= appointment.offer_time.time.strftime('%I:%M %p') %>
</p>

<p>
  You will find more details about the meeting point in the description attached below.
  Please be on time and have fun!
</p>

<p>Your Let’s integrate!team</p>


<p>P.S.: We value your time and so should you. We always ask to both partners to be on time. Still, in case of a delay, please wait a few more minutes!</p>

<p>We would be very happy to receive some photos of your meeting and a few words about your best experiences! If you like please send them to: info@letsintegrate.de</p>

<p>Thank you and Let’s integrate!</p>
