<p>Hallo!</p>

<p>
  Vielen Dank, dass Du Dich bei Let’s integrate! Für ein Treffen angemeldet hast.
  Wir haben ein Match für dich:
</p>

<p>
  Treffpunkt: <%= appointment.location.name %><br />
  Tag: <%= appointment.offer_time.time.strftime('%e. %B %Y') %><br />
  Zeit: <%= appointment.offer_time.time.strftime('%H:%M') %><br />
</p>

<p>
  Details zum Treffpunkt findest Du in der angehängten Beschreibung.
  Bitte sei pünktlich und hab Spaß!
</p>

<p>Dein Let’s integrate!-Team</p>


<p>P.S.: Wir weisen zwar immer beide Seiten auf Pünkltichkeit hin. Bitte warte im Zweifelsfall trotzdem noch etwas länger….;-)</p>

<p>Wenn Ihr Lust habt, macht gerne Fotos zusammen und schickt sie uns zusammen mit zwei Zeilen zu Eurem besten Erlebnis an: info@letsintegrate.de</p>

<p>Danke und Let’s integrate!</p>
