<p>مرحبا!</p>

<p>شكرًا لاختيارك موعد لقاء في مشروع let's integrate.</p>

<p>
  نقطة اللقاء: <%= appointment.location.name %><br />
  اليوم: <%= appointment.offer_time.time.strftime('%B %e, %Y') %><br />
  الوقت: <%= appointment.offer_time.time.strftime('%H:%M') %><br />
</p>

<p>
  ستجد كل التفاصيل التي تحتاجها مرفقة في نص الايميل المرسل اليك.
  الرجاء الالتزام بالوقت وعدم التأخير عن الموعد، ونتمنى لك وقتا سعيدا.
</p>

<p>فريقكم المميز let's Integrate ( دعونا نتعارف ).</p>


<p>ملاحظة: في حال وصولك الى نقطة اللقاء ولم تجد الشخص المراد مقابلته يرجى منك الانتظار لبضع دقائق.</p>

<p>اذا أردت من خلال اللقاء التقاط صور مميزة والتعبير عن هذا اللقاء بكتابة شيئ ما، يسعدنا ان نتلقاها منك على هذا الايميل وماعليك سوى إرسالها إلينا : info@letsintegrate.de</p>

<p>شكرًا ودعونا نتعارف!</p>
