<h4>Wo?</h4>
<p>
  Ihr trefft euch direkt unter der Weltzeituhr am Alexanderplatz, die zwischen dem Bhf. Alexanderplatz und dem großen Alexander-Einkaufszentrum liegt - natürlich auf der SEite mit der Berlin-Zeit ;-) Die genauen Koordinaten des Treffpunktes findet ihr hier:
  <a href="https://goo.gl/maps/xHeKHjJEdC62" target="_blank">https://goo.gl/maps/xHeKHjJEdC62</a>
</p>
<p>
  Wie immer erkennst du deine Verabredung anhand des Let’s integrate! Handzeichens, was dann ungefähr so aussehen sollte:
</p>
<p class="text-xs-center">
  <%= image_tag attachments['photo.jpg'].url, width: '100%' -%>
</p>
<p>
  Also, siehst du jemanden, der genauso suchend aussieht wie du, mach doch einfach dieses Zeichen. Reagiert der Gegenüber nicht auf das Zeichen, musst du wohl noch einen Augenblick warten...
</p>
<h4>Was?</h4>
<p>
  Natürlich ist es euch vollkommen frei gestellt, was ihr bei eurem Treffen macht. Das wichtigste ist das Treffen an sich. Dennoch macht es Spaß gemeinsam etwas zu unternehmen und darum haben wir die Treffpunkte so gewählt, dass euch eine Menge Möglichkeiten in der näheren Umgebung gegeben sind. Einige Anregungen:
</p>
<ul>
  <li>
    Das Alexa:
    <p>
      Das Alexa bietet als Einkaufszentrum nicht nur Läden und Geschäfte an, sondern auch Cafés und Restaurants in denen man sich auch bei schlechtem Wetter gut aufhalten kann.
    </p>
  </li>
  <li>
    Der Weihnachtsmarkt:
    <p>
      In der Weihnachtszeit ist der Weihnachtsmarkt am Alexanderplatz ein großes Vergnügen. Ihr könnt zwischen zwei Varianten wählen: der große Weihnachtsmarkt bietet eine turbulente Jahrmarktsatmosphäre mit Karussell und Achterbahn. Der kleine Weihnachtsmarkt bietet Beschaulichkeit und Leckereien. Auf dem .??...Platz kann man im Winter auch auf der Eisbahn einige Runden mit Schlittschuhen drehen.
    </p>
  </li>
  <li>
    Museumsinsel:
    <p>
      Nicht weit vom Alexanderplatz entfernt liegt die Museumsinsel und lädt zu einem Besuch der zahlreichen Museen ein, aber auch einfach nur zu einem ausgedehnten historisch anmutenden Spaziergang zu machen.  Am Wochenende findet ihr hier auch einen Flohmarkt über den man schlendern kann und auf dem man mit den Händlern um kleine Kostbarkeiten feilschen kann.
    </p>
  </li>
  <li>
    Bootsfahrt:
    <p>
      Unweit vom Alexanderplatz findet ihr eine Bootsanlegestelle, von der aus ihr Berlin vom Wasser aus erkunden und bestaunen könnt.
    </p>
  </li>
  <li>
    Hackescher Markt:
    <p>
      Nach einem 10 minütigen Spaziergang erreicht ihr von der Weltzeituhr den Hackeschen Markt mit seinen zahlreichen Bars, Cafés und Restaurants. Am Ufer der Spree wird im Sommer gepicknickt und Ball gespielt, Musik gemacht und getanzt.
    </p>
    <p>
      Ein kleines Stückchen weiter findet ihr in der Oranienburger Straße eine kleine Bonbon-Manufaktur, in der ihr zusehen könnt, wie die Bonbons gefertigt werden. Das Beste: in jedem Stadium der Herstellung dürft ihr von den Bonbons probieren - ein Vergnügen für jede Naschkatze!
    </p>
  </li>
  <li>
    Sightseeing:
    <p>
      Natürlich bietet sich auch eine kleine Sightseeing-Tour an. Entweder mit dem Bus oder zu Fuß. Rund um den Alexanderplatz gibt es eine Menge zu sehen (Museumsinsel, Gendarmenmarkt, Unter den Linden, Brandenburger Tor etc.)
    </p>
  </li>
  <li>
    Zeige Dein Berlin:
    <p>
      Zentral gelegen erreicht ihr vom Bhf. Alexanderplatz fast jeden Ort in Berlin ganz rasch - lasst eurer Phantasie also freien Lauf und fahrt, wohin auch immer Ihr woll.
    </p>
  </li>
</ul>
