<h4>Where?</h4>
<p>
  You meet directly at the Weltzeituhr on Alexanderplatz, which is located
  between the train station  Alexanderplatz and the Mall called Alexia. The
  exact coordinates of the meeting spot can be found here:
  <a href="https://goo.gl/maps/xHeKHjJEdC62" target="_blank">https://goo.gl/maps/xHeKHjJEdC62</a>
</p>
<p>
  As always, you’ll recognize your mate trying the Let's integrate! hand signal,
  which should look something like this:
</p>
<p class="text-xs-center">
  <%= image_tag attachments['photo.jpg'].url, width: '100%' -%>
</p>
<h4>What?</h4>
<p>
  Of course you are completely free to chose, what you are doing at your
  meeting. The most important is the meeting itself. Still, it's fun to do
  something together and that is why we have chosen these spots so you have a
  lot of possibilities to do in the area around your meeting point. Some
  suggestions:
</p>
<ul>
  <li>
    The Alexa:
    <p>
      The Alexa as a shopping mall offers you not only shops and stores, but
      also cafes and restaurants where you can stay at and enjoy your time
      together even if it's a bad weather day.
    </p>
  </li>
  <li>
    The Christmas markets:
    <p>
      During the Christmas season, the Christmas markets at Alexanderplatz are a
      great pleasure. You can choose between two versions: the large Christmas
      market offers a turbulent carnival atmosphere with roundabouts, roller
      coasters and other fun stuff. The little Christmas market offers
      tranquility and treats. Also right next to the Neptunbrunnen in winter
      time you can have lots of fun ice skating.
    </p>
  </li>
  <li>
    Museumsinsel:
    <p>
      Not far from the Alexanderplatz you can find the Museumsinsel with its
      numerous museums and historical buildings. On the weekends you’ll also
      find a flea market on which one can stroll around and where you can haggle
      over small treasures.
    </p>
  </li>
  <li>
    Boat trip:
    <p>
      Not far from the Alexanderplatz you will find a boat dock, from which you
      can explore Berlin from the water.
    </p>
  </li>
  <li>
    The Hackescher Markt:
    <p>
      During a 10 minute walk you reach the Hackescher Markt with its numerous
      bars, cafes and restaurants. In the summer time, overlooking the River
      Spree, you can have a picnic or play some ball, also several times a week
      people are meeting there to make some music and dance sessions.
    </p>
    <p>
      A little further, in the Oraninburgerstraße, you will find a small candy
      factory, where you can watch how the sweets are made. The best: in any
      stage of processing you shall taste of the candies - a treat for any
      foodie!
    </p>
  </li>
  <li>
    Sightseeing:
    <p>
      Of course you can also enjoy a sightseeing tour. Either by bus or foot.
      Around the Alexanderplatz there is a lot to see (Museumsinsel,
        Gendarmenmarkt, Unter den Linden, the Brandenburg Gate, etc.)
    </p>
  </li>
  <li>
    Show your Berlin:
    <p>
      Centrally located, from Alexanderplatz you’ll reach almost every place in
      Berlin very quickly - Let your imagination run wild and go wherever you
      want.
    </p>
  </li>
</ul>
