<h4>أين؟</h4>

<p>
  ستلتقون معا مباشرة أمام ساعة العالم في Alexanderplatz، التي تقع بين محطة القطار Alexanderplatz والمجمع المركزي للتسوق. تجد الموقع بدقة على الرابط التالي:
  <a href="https://goo.gl/maps/xHeKHjJEdC62" target="_blank">https://goo.gl/maps/xHeKHjJEdC62</a>
</p>

<p>
  يمكنك التعرف على الشخص الذي تريد مواعدته من خلال الشعار الخاص بمشروع lets Integrate  و الذي يبدو كما في الصورة التالية :
</p>

<p class="text-xs-center">
  <%= image_tag attachments['photo.jpg'].url, width: '100%' -%>
</p>
