<h4>Wo?</h4>
<p>
  Ihr trefft Euch auf dem Reformationsplatz in der Spandauer Altstadt, direkt an der Statue vor der Kirche St. Nikolai. Die genauen Koordinaten des Treffpunktes findest Du hier:
  <a href="https://goo.gl/maps/TZQnfCLJZNM2" target="_blank">https://goo.gl/maps/TZQnfCLJZNM2</a>
</p>
<p>
  Du erkennst Deine Verabredung dann natürlich wie immer durch das typische Handzeichen von Let’s integrate! Und so soll das Ganze dann in etwa aussehen:
</p>
<p class="text-xs-center">
  <%= image_tag attachments['photo.jpg'].url, width: '100%' -%>
</p>
<h4>Was?</h4>
<p>
  Natürlich ist es Euch völlig frei gestellt, was Ihr bei Eurem Treffen unternehmen wollt - Eurer Kreativität sind keine Grenzen gesetzt. Wichtig ist, DASS Ihr Euch trefft. Doch wir haben die Orte so gewählt, dass Ihr in der nahen Umgebung viele Möglichkeiten habt, Dinge gemeinsam zu unternehmen. Einige Anregungen wären z.B.:
</p>
<ul>
  <li>
    Havelufer:
    <p>
      Unweit des Treffpunkts liegt das Havelufer. Dort kann man schön spazieren und das Treiben beobachten und hat einen direkten Blick auf die Mündung der Spree in die Havel.
    </p>
  </li>
  <li>
    Die Zitadelle Spandau:
    <p>
      ...ist auf jeden Fall einen Besuch wert! Toll ist der Besuch der Zitadelle selbst (mit schönem Museum bei schlechtem Wetter) und der Aufstieg des Juliusturms (Eintritt 4,50€, für Flüchtlinge mit Berlin-Card ermäßigt: 2,50€). Bei schönem Wetter lädt schon der vorgelagerte kleine Park zum Spazieren ein.
    </p>
  </li>
  <li>
    Die Altstadt Spandau:
    <p>
      Hier könnt Ihr flanieren, Kaffeetrinken oder natürlich auch einfach ein bisschen Geschäfte gucken. Auch ein kurzer Besuch der St. Nikolai-Kirche bietet sich an.
    </p>
  </li>
  <li>
    Zeige dein Berlin:
    <p>
      Ihr könnt die Altstadt Spandau natürlich auch einfach nur als Ausgangspunkt nehmen und weiterziehen - lasst Eurer Phantasie also freien Lauf.
    </p>
  </li>
</ul>
