<h4>-أين؟</h4>
<p>
سوف تلتقون في ساحة Reformation في البلدة القديمة لمنطقة شبانداو، مباشرة عند التمثال أمام كنيسة القديس نيكولاي.
الإحداثيات لنقطة الإلتقاء يمكن أن تجدها هنا:
  <a href="https://goo.gl/maps/TZQnfCLJZNM2" target="_blank">https://goo.gl/maps/TZQnfCLJZNM2</a>
</p>
<p>
  ستحصلون على موعد محدد عند نقطة الإلتقاء بعدها ستتعرفون على بعضكم البعض، كما هو الحال دائما، عن طريق إشارة اليد -حرف L باليد اليمنى و حرف i باليد اليسرى- وهنا كل شيء يتضح في الصورة:
</p>

<p class="text-xs-center">
  <%= image_tag attachments['photo.jpg'].url, width: '100%' -%>
</p>
