<h4>Where?</h4>
<p>
  You will meet in Spandau old town near the statue right in front St. Nikolai
  church. For the exact coordinates you may want to check GoogleMaps:
  <a href="https://goo.gl/maps/TZQnfCLJZNM2" target="_blank">https://goo.gl/maps/TZQnfCLJZNM2</a>
</p>
<p>
  To recognize one another, don’t hesitate to flash the Let’s integrate!
  handshake whenever you see someone “suspiciously disoriented”... And that’s
  what it could look like:
</p>
<p class="text-xs-center">
  <%= image_tag attachments['photo.jpg'].url, width: '100%' -%>
</p>
<h4>What?</h4>
<p>
  Obviously, it’s entirely up to you what you would like to do. But here are
  some suggestions for things to do nearby:
</p>
<ul>
  <li>
    Havel riverside:
    <p>
      Not far of where you will meet the two Berlin rivers meet: The Spree flows
      into the Havel. A great place to walk, sit, talk or watch the ships go by
      (once in a while).
    </p>
  </li>
  <li>
    The Spandau Citadel:
    <p>
      ...is a fantastic place to visit! The old fortress is impressive in many
      ways, and offers a great view from the Julius Tower as well as an
      interesting historical Museum and even archeological sites for rainy days.
      (Entrance fee 4,50€, for refugees with Berlin-Card a discounted 2,50€).
    </p>
  </li>
  <li>
    Spandau Old Town:
    <p>
      Just stroll through one of Berlin’s very few pedestrain areas: shops,
      cafés...the usual, but not bad.
    </p>
  </li>
  <li>
    Show your Berlin:
    <p>
      If you know your way around: Feel free to be the tour guide!.
    </p>
  </li>
</ul>
