<h4>Wo?</h4>
<p>
  Ihr trefft Euch direkt am U-Bhf Rathaus Schöneberg. Der Treffpunkt ist direkt oben am Eingang. (Der U-Bhf hat nur einen Eingang, so dass es dort keine Verwirrung geben sollte.) Bei Regen trefft Ihr Euch im U-Bhf direkt am unteren Ende der Treppe. Hier findest Du die genauen Koordinaten für GoogleMaps:
  <a href="https://goo.gl/maps/EmbiCfWsyhC2" target="_blank">https://goo.gl/maps/EmbiCfWsyhC2</a>.
</p>
<p>
  Deine Verabredung erkennst Du, wie immer, indem Du das Let’s integrate! Handzeichen gibst und schaust, ob er/sie es erwidert. Das Ganze sollte dann in etwa so aussehen:
</p>
<p class="text-xs-center">
  <%= image_tag attachments['photo.jpg'].url, width: '100%' -%>
</p>
<h4>Was?</h4>
<p>
  Darin was Ihr tun wollt, seid Ihr natürlich komplett frei. Das Wichtigste ist ja das Treffen an sich. Dennoch habe wir den Treffpunkt natürlich so ausgesucht, dass sich verschiedene Dinge anbieten:
</p>
<ul>
  <li>
    Volkspark Wilmersdorf:
    <p>
      Der Treffpunkt liegt direkt im Volkspark Wilmersdorf, der zum Spazierengehen einlädt. Aus dem Weg werdet Ihr u.a. auf Cafés, Eisdielen und eine Minigolfbahn treffen.
    </p>
  </li>
  <li>
    Akazienkiez:
    <p>
      Unweit des Treffpunkts (ca 10 Minuten gemütlicher Fußweg) findet sich der belebte Akazienkiez mit Cafés, kleinen Läden und der schönen Apostel-Paulus-Kirche. (Am besten lauft Ihr einfach die Belziger Straße direkt gegenüber des Rathaus Schöneberg hoch.)
    </p>
  </li>
  <li>
    Rathaus Schöneberg:
    <p>
      Vor dem Rathaus Schöneberg findet jeden Samstag ein Flohmarkt statt. Dazu gibt es regelmäßig kleinere Ausstellungen, die evtl eine einfache und nahe Alternative bei schlechten Wetter bieten (täglich 10-18 Uhr)
    </p>
  </li>
  <li>
    Zeige Dein Berlin:
    <p>
      Ihr seid direkt am U-Bhf...wenn Ihr wollt nutzt das einfach und fahrt wohin Ihr wollt! Egal ob Wannsee, Ku’damm oder zu Dir nach Hause...
    </p>
  </li>
</ul>
