<h4>-أين؟</h4>
<p>
ستلتقون مباشرة في محطة القطار Rathaus Schöneberg.
نقطة الإلتقاء هي مباشرة فوق المدخل (محطة القطار لها مدخل واحد فقط)، لذلك لن يكون هناك أي اضطراب، عندما يكون الطقس ماطرا ستلتقون في محطة القطار أسفل الدرج، وهنا يمكنك أن تجد نقطة الإلتقاء بدقة:
  <a href="https://goo.gl/maps/EmbiCfWsyhC2" target="_blank">https://goo.gl/maps/EmbiCfWsyhC2</a>.
</p>
<p>
ستتلقى الموعد مسبقا، وكما هو دائما، عليك أن تقوم بإشارة اليد -حرف L باليد اليمنى و حرف i باليد اليسرى-
وتلقي نظرة من حولك فإذا رأيت أي شخص يقوم بنفس الإشارة، فهو بالطبع الشخص الذي سوف تلتقيه، كل شيء يتضح في الصورة:
</p>
<p class="text-xs-center">
  <%= image_tag attachments['photo.jpg'].url, width: '100%' -%>
</p>
