<h4>Where?</h4>
<p>
  You will meet directly at the subway station Rathaus Schöneberg. The meeting
  point is right in front of the exit and there is only one, which should avoid
  confusion. If it’s raining please feel free to meet at the bottom of the
  stairs...<br />
  Here are the Google Maps coordinates:
  <a href="https://goo.gl/maps/EmbiCfWsyhC2" target="_blank">https://goo.gl/maps/EmbiCfWsyhC2</a>.
</p>
<p>
  You will recognize your date by flashing the (not-so-secret) Let’s integrate!
  hand sign: If you guessed correctly you will see a happy smile instead of a
  confused one... ;-) All together it should look something like this:
</p>
<p class="text-xs-center">
  <%= image_tag attachments['photo.jpg'].url, width: '100%' -%>
</p>
<h4>What?</h4>
<p>
  Please do whatever you feel like. But to give you some inspiration here are
  some ideas for things to do near by:
</p>
<ul>
  <li>
    Public park “Volkspark Wilmersdorf”:
    <p>
      When meeting this parc is expanding directly to your feet inviting for a
      relaxed stroll. You may find nice cafés, ice cream stores, and even a mini
      golf course along the way...
    </p>
  </li>
  <li>
    Streets around Akzienstrasse:
    <p>
      Not far from where you will meet (some 10 min) you will find the lively
      “Akazien-Kiez”, a neighborhood that on sunny days is bursting with people
      enjoying their time in nice cafés, little stores, and sometimes street
      markets. (Just take Belziger Strasse opposite the district hall to get
      directly to Akazienstrasse.)
    </p>
  </li>
  <li>
    Rathaus Schöneberg:
    <p>
      In front of the district hall (which used to be the West Berlin town
      hall - the one where JFK uttered his famous words: Ich bin ein Berliner.)
      you will on some days find a small flee market. Additionally the town hall
      often has exhibits that may or may not be worthwhile visiting.
    </p>
  </li>
  <li>
    Show off your own Berlin:
    <p>
      You are right at the subway station! Feel free to hop on a train and go
      wherever...
    </p>
  </li>
</ul>
