<h4>Where?</h4>
<p>
  You will meet at S+U-Bhf Schönhauser Allee, across the Schönhauser Allee
  Arkaden shopping mall. The exact meeting spot is in front of the
  graffiti-covered wall next to “Alain Snack”. For the exact coordinates check
  GoogleMaps: <a href="https://goo.gl/maps/GC68PgqnAvs" target="_blank">
  https://goo.gl/maps/GC68PgqnAvs</a>
</p>
<p>
  You will recognize your date by doing the Let’s integrate! hand sign - and
  waiting for a response… and that’s what it should look like:
</p>
<p class="text-xs-center">
  <%= image_tag attachments['photo.jpg'].url, width: '100%' -%>
</p>
<h4>What?</h4>
<p>
  Obviously, you are free to do whatever you want. But here are some ideas if
  you don’t know the neighborhood that well:
</p>
<ul>
  <li>
    Walk and take a coffee:
    <p>
      The neighborhood is perfect for a relaxed stroll. You find plenty of nice
      cafés, restaurants, stores and other places of interest. A lot of stuff to
      observe and talk about...
    </p>
  </li>
  <li>
    The infamous Mauerpark:
    <p>
      An absolute highlight in Berlin! Bursting with creativity and people on
      sunny days it’s...well, if you haven’t been there, just go!
    </p>
  </li>
  <li>
    Show your Berlin:
    <p>
      Chances are you are from that neighborhood - or at least know your way
      around. So what am I telling you...
    </p>
  </li>
</ul>
