<h4>-أين؟</h4>
<p>
  سوف تلتقون في محطة S+U Schönhauser Alle في الجهة المقابلة لزقاقSchönhauser Alle مباشرة أمام الرسومات التي تغطي الحائط بجانب Alain Snack، الإحداثيات الدقيقة للنقطة تجدها هنا:
  <a href="https://goo.gl/maps/GC68PgqnAvs" target="_blank">https://goo.gl/maps/GC68PgqnAvs</a>
</p>
<p>
  ستحصلان على موعد محدد عند نقطة الإلتقاء عندها ستتعرفان على بعض، كما هو الحال دائما، عن طريق إشارة اليد -حرف L باليد اليمنى و حرف i باليد اليسرى- وهنا كل شيء يتضح في الصورة:
</p>
<p class="text-xs-center">
  <%= image_tag attachments['photo.jpg'].url, width: '100%' -%>
</p>
