<h4>Wo?</h4>
<p>
  Ihr trefft Euch am S+U-Bhf Schönhauser Allee, gegenüber von den Schönhauser Allee Arkaden direkt vor der Grafiti-bedeckten Wand neben “Alain Snack”. Die genauen Koordinaten des Treffpunktes findest Du hier:
  <a href="https://goo.gl/maps/GC68PgqnAvs" target="_blank">https://goo.gl/maps/GC68PgqnAvs</a>
</p>
<p>
  Erkennen tust Du Deine Verabredung dann natürlich wie immer durch das typische Handzeichen von Let’s integrate! Und so soll das Ganze dann in etwa aussehen:
</p>
<p class="text-xs-center">
  <%= image_tag attachments['photo.jpg'].url, width: '100%' -%>
</p>
<h4>Was?</h4>
<p>
  Natürlich ist es Euch völlig frei gestellt, was Ihr bei Eurem Treffen unternehmen wollt - Eurer Kreativität sind keine Grenzen gesetzt. Wichtig ist, DASS Ihr Euch trefft. Doch wir haben die Orte so gewählt, dass Ihr in der nahen Umgebung viele Möglichkeiten habt, Dinge gemeinsam zu unternehmen. Einige Anregungen wären z.B.:
</p>
<ul>
  <li>
    Spazieren / Kaffees:
    <p>
      Die Gegend lädt förmlich dazu ein, sich einfach etwas durch die Straßen treiben zu lassen, zu schauen und ggf. auch hier und dort mal einen Laden (oder ein Kaffee) von innen anzuschauen. Viel Stoff zum Zeigen, Reden und sich Austauschen.
    </p>
  </li>
  <li>
    Der Mauerpark:
    <p>
      Ein Highlight in Berlin ist natürlich der Mauerpark, unweit des Treffpunkts. Bei schönem Wetter immer voll mit entspannten Menschen, die den unterschiedlichsten Beschäftigungen nachgehen. Sehr witzig ist natürlich immer die öffentliche Karaoke Show im Amphitheater am Wochenende.
    </p>
  </li>
  <li>
    Zeige Dein Berlin:
    <p>
      Hier gilt (noch) mehr als überall: Lasse Dich von den Vorschlägen nicht einschränken und zeige auch gerne “Dein Berlin”. Oder lasst Euch eben einfach treiben...
    </p>
  </li>
</ul>
