<h4>Where?</h4>
<p>
  You’re going to meet at the port of Treptower Park at pier 9. The exact
  coordinates of your meeting spot are to be found here:
  <a href="https://goo.gl/maps/ECq3kNZfoWP2" target="_blank">https://goo.gl/maps/ECq3kNZfoWP2</a>
</p>
<p>
  You’ll recognize you're mate by trying our typical lets integrate!-hand sign,
  which should look somewhat like this:
</p>
<p class="text-xs-center">
  <%= image_tag attachments['photo.jpg'].url, width: '100%' -%>
</p>
<h4>What?</h4>
<p>
  Surely, you are totally free to choose what you are going to do at your
  meeting - that most important thing is the meeting itself! Nevertheless we
  chose meeting spots with many things and activities to do in the neighborhood.
  Some suggestions would be:
</p>
<ul>
  <li>
    Treptower Park:
    <p>
      here you can just stroll around a little in the beautiful park, do a small
      picnick, have some fun playing ball games or even just sit at the water
      and feed the ducks.
    </p>
  </li>
  <li>
    The old funfair Treptower Park:
    <p>
      this old theme park is an exciting destination. Guided tours are provided
      several times a week (website einfügen!!) to experience an exciting walk
      past the ruins of the amusement park with its roller coasters, water
      rides, Ferris wheel and lots of other fun things.
    </p>
  </li>
  <li>
    Schlesisches Tor:
    <p>
      it's just a short walk to the area of Schlesisches Tor with its cafes,
      bars, restaurants and pubs, galleries and small shops.
    </p>
  </li>
  <li>
    Show your Berlin:
    <p>
      Starting at Treptower Park you can reach almost every place in Berlin by
      public transport in no time - so, let your imagination run wild and go
      wherever you want!
    </p>
  </li>
</ul>
