<h4>Wo?</h4>
<p>
  Ihr trefft euch am Hafen des Treptower Parks, am Anleger Nummer 9. Die genauen Koordinaten des Treffpunktes findest du hier:
  <a href="https://goo.gl/maps/ECq3kNZfoWP2" target="_blank">https://goo.gl/maps/ECq3kNZfoWP2</a>
</p>
<p>
  Erkennen tust du deine Verabredung dann natürlich wie immer durch das typische Handzeichen von Let’s integrate! Und so soll das Ganze dann in etwa aussehen:
</p>
<p class="text-xs-center">
  <%= image_tag attachments['photo.jpg'].url, width: '100%' -%>
</p>
<h4>Was?</h4>
<p>
  Natürlich ist es euch völlig frei gestellt, was ihr bei eurem Treffen unternehmen wollt - eurer Kreativität sind keine Grenzen gesetzt. Wichtig ist, DASS ihr euch trefft. Doch wir haben die Orte so gewählt, dass ihr in der nahen Umgebung viele Möglichkeiten habt, Dinge gemeinsam zu unternehmen. Einige Anregungen wären z.b.:
</p>
<ul>
  <li>
    Der Treptower Park:
    <p>
      Hier könnt ihr Spazieren gehen, picknicken, Ball spielen, Fahrrad fahren oder einfach am Wasser sitzen.
    </p>
  </li>
  <li>
    Der alte Vergnügungspark Treptower Park:
    <p>
      bei schönem Wetter bietet sich der der alte Treptower Freizeitpark als aufregendes Ziel an. Mit geführten Touren kann man dort aufregende Spaziergänge machen, vorbei an dem alten Ruinen des Vergnügungsparks mit seinen Achter- und Wasserbahnen, Karussells, dem Riesenrad und vielem mehr! Wichtig ist hier zu beachten, dass man das Gelände nur mit einem Führer betreten darf.
    </p>
  </li>
  <li>
    Schlesisches Tor:
    <p>
      Nicht weit entfernt von diesem Treffpunkt liegt auch das Schlesische Tor mit zahlreichen Restaurants und Cafés, Bars und Kneipen, Gallerien und kleinen Läden.
    </p>
  </li>
  <li>
    Zeige dein Berlin:
    <p>
      Vom Treptower Park ausgehend könnt ihr mit den öffentlichen Verkehrsmitteln fast jeden Ort in Berlin ganz rasch erreichen - lasst eurer Phantasie also freien Lauf und fahrt wohin auch immer Ihr wollt.
    </p>
  </li>
</ul>
