<h4>-أين؟</h4>
<p>
  لقائكم ببعض عند ميناء  treptower parks الرصيف التاسع تحديدا تجدون الموقع بدقة على الرابط التالي :
  <a href="https://goo.gl/maps/ECq3kNZfoWP2" target="_blank">https://goo.gl/maps/ECq3kNZfoWP2</a>
</p>
<p>
  يمكنك التعرف على الشخص الذي تسطيع مواعدته بشكل طبيعي من خلال حركة الايدي الخاصة ب lets intgrate  و التي تبدو كما في المشهد التالي :
</p>
<p class="text-xs-center">
  <%= image_tag attachments['photo.jpg'].url, width: '100%' -%>
</p>
