<h4>Where?</h4>
<p>
  You meet at the western entrance of the BIKINI house, located on the opposite
  side of the street from the famous Memorial Church (Gedächtniskirche). The
  meeting point is right at the pillar below the large black-and-white logo
  "wonderful". The exact coordinates can be found here:
  <a href="https://goo.gl/maps/sQdTRjCMASG2" target="_blank">https://goo.gl/maps/sQdTRjCMASG2</a>
</p>
<p>
  As always, you’ll recognize your mate trying the Let's integrate! hand signal,
  which should look something like this:
</p>
<p class="text-xs-center">
  <%= image_tag attachments['photo.jpg'].url, width: '100%' -%>
</p>
<h4>What?</h4>
<p>
  Of course you're totally free to chose the activities at your meeting. Most
  important is THAT you meet. Of course we have chosen places with many
  opportunities. Some suggestions would be:
</p>
<ul>
  <li>
    The Tiergarten:
    <p>
      A few minutes walk and you are right in the Tiergarten, where you can have
      a nice walk, a picnic, play some ball, ride a bike or just sit by the
      water and watch the animals (ducks, geese, etc.). Or you can sit in one of
      the nice beer gardens located in the Tiergarten ("Schleusenkrug" or "Café
      am Neuen See") - an opportunity which is suitable for any weather, since
      both of them have very nice inside areas as well. At "Café am Neuen See"
      you can borrow yourself a rowboat and take a nice ride on the lake or
      enjoy a freshly baked brick oven pizza.
    </p>
  </li>
  <li>
    The Zoological Garden:
    <p>
      The Zoo is an excellent destination for taking a walk and watch exotic
      animals together. The adventurous playground, located in the Zoo is a fun
      spot for children. If the weather should be rainy,  you can visit the
      aquarium of the Zoo or watch the animals from the Café located in the
      BIKINI-House since it has a huge panoramic window.
    </p>
  </li>
  <li>
    Sightseeing:
    <p>
      Another fun activity would be a sightseeing tour, either by bus or foot.
      Around the Zoo there is a lot to discover (Memorial Church,
      Kurfürstendamm, the theater of the West etc.)
    </p>
  </li>
  <li>
    Savignyplatz:
    <p>
      Also located in the neighborhood is the Savignyplatz with its many
      restaurants and cafes, bars and pubs, galleries and small shops.
    </p>
  </li>
  <li>
    Flea market:
    <p>
      In walking distance you can also find the popular flea market at S-Bahn
      station Tiergarten, which invites you to stroll and to marvel.
    </p>
  </li>
  <li>
    Show your Berlin:
    <p>
      Centrally located you can reach almost every destination in Berlin in no
      time - Let your imagination run wild and go wherever you want.
    </p>
  </li>
</ul>
