<h4>Wo?</h4>
<p>
  Ihr trefft euch am Westeingang des BIKINI-Hauses. Gleich gegenüber der berühmten Gedächtniskirche steht das Bikinihaus. Der Treffpunkt befindet sich an der Säule direkt unter dem großen Schriftzug der "Wunderbar". Die genauen Koordinaten des Treffpunktes findest du hier:
  <a href="https://goo.gl/maps/sQdTRjCMASG2" target="_blank">https://goo.gl/maps/sQdTRjCMASG2</a>
</p>
<p>
  Erkennen tust du deine Verabredung dann natürlich wie immer durch das typische Handzeichen von Let’s integrate! Und so soll das Ganze dann aussehen:
</p>
<p class="text-xs-center">
  <%= image_tag attachments['photo.jpg'].url, width: '100%' -%>
</p>
<h4>Was?</h4>
<p>
  Natürlich ist es euch völlig frei gestellt, was ihr bei eurem Treffen unternehmen wollt - eurer Kreativität sind keine Grenzen gesetzt. Wichtig ist, DASS ihr euch trefft. Natürlich haben wir die Orte so gewählt, dass ihr in der nahen Umgebung viele Möglichkeiten habt, Dinge gemeinsam zu unternehmen. Einige Anregungen wären z.b.:
</p>
<ul>
  <li>
    Der Tiergarten:
    <p>
      in wenigen Minuten seid ihr zu Fuß direkt im Tiergarten. Hier könnt ihr Spazieren gehen, picknicken, Ball spielen, Fahrrad fahren oder einfach am Wasser sitzen und die Tiere (Enten, Gänse etc.) beobachten. Oder ihr könnt euch gemütlich, sowohl draußen als bei schlechtem Wetter auch drinnen in einen der Biergärten setzen (Schleusenkrug: oder Café am Neuen See). Am Café am Neuen See könnt ihr euch ein Ruderboot ausleihen und eine kleine Fahrt über den See machen oder eine frisch gebackene Steinofenpizza genießen.
    </p>
  </li>
  <li>
    Der Zoologische Garten:
    <p>
      bei schönem Wetter bietet sich der Zoologische Garten hervorragend an, um gemeinsam exotische Tiere zu beobachten und spazieren zu gehen. Auch ein Abenteuerspielplatz ist eine große Freude z.B. wenn Kinder dabei sind. Bei schlechtem Wetter könnt ihr das Aquarium des Zoos erkunden oder aus dem Café im Bikinihaus durch die große Panoramaverglasung hindurch die Tiere aus dem Trockenen beobachten.
    </p>
  </li>
  <li>
    Sightseeing:
    <p>
      Natürlich bietet sich auch eine kleine Sightseeing-Tour an. Entweder mit dem Bus oder zu Fuß. Rund um den Zoo gibt es eine Menge zu sehen (Gedächtniskirche, Ku'damm, die Botschaften im Tiergarten, das Theater des Westens u.v.m.)
    </p>
  </li>
  <li>
    Savignyplatz:
    <p>
      Nicht weit entfernt von diesem Treffpunkt liegt auch der Savignyplatz mit zahlreichen Restaurants und Cafés, Bars und Kneipen, Gallerien und kleinen Läden.
    </p>
  </li>
  <li>
    Flohmarkt:
    <p>
      Gut zu Fuß zu erreichen ist auch der beliebte Flohmarkt am S-Bhf. Tiergarten der zum Schlendern und Staunen einlädt.
    </p>
  </li>
  <li>
    Zeige dein Berlin:
    <p>
      Zentral gelegen erreicht ihr vom Bhf. Zoologischer Garten fast jeden Ort in Berlin ganz rasch - lasst eurer Phantasie also freien Lauf und fahrt wohin auch immer Ihr wollt.
    </p>
  </li>
</ul>
