<h4>-أين؟</h4>
<p>
ستقابلون بعضكم عند الباب الغربي لبيكيني هاوس ( Bikini Haus ).
تقريبا مقابل الكنيسة "Gedächtniskirche" المقابلة لبكيني هاوس ونقطة اللقاء مباشرة تحت الافتة الكبيرة التي تحمل اسم فوندر بار  (wunderbar) والاحداثيات  الدقيقة لنقطة التعريف تجدها هنا :
<a href="https://goo.gl/maps/sQdTRjCMASG2" target="_blank">https://goo.gl/maps/sQdTRjCMASG2</a>
</p>
<p>
   ميز من تريد لقاءه من خلال حركة اليد التقليدية الدائمة ل (Let's Integrate) وهكذا ينبغي ان تميزو انفسكم.
</p>
<p class="text-xs-center">
  <%= image_tag attachments['photo.jpg'].url, width: '100%' -%>
</p>
